

canvas{
  padding-left: 0;
padding-right: 0;
margin-left: auto;
margin-right: auto;
display: block;
}
h1{
  font-family: fantasy;
font-size: 50px;
color: white;
padding-left: 0;
padding-right: 0;
margin-left: 800px;
}
h2{
  color: yellow;
  margin-top: 40px;
  margin-left: 30%
}

.button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */

    margin-top: 10px;
   margin-left: 47% ;
}
