h1{
  font-family: fantasy;
font-size: 50px;
color: white;
padding-left: 0;
padding-right: 0;
margin-left: 35%;



}

canvas{
  padding-left: 0;
padding-right: 0;
margin-left: auto;
margin-right: auto;
display: block;
}

.button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
  position:relative;

margin-top: 20px;
   margin-left: 680px;


}
